.header
  .header__text
    =link_to root_path do
      WORKER
  = link_to corporations_path do
    <i class="fas fa-arrow-left"></i>
.main
  .index_header
    %ul 
      %li.list_index
        = @corporation.name
      %li.list_new
        = link_to new_corporation_project_path(@corporation.id) do
          新規登録
  %ul.tab-group
    %li.link_tab
      = link_to corporation_projects_path(@corporation.id) do
        .link_tab__text
          案件一覧
    %li.link_tab.is-active メンバー追加
  .panel-group
    .panel
    .panel.is-show 
      = form_for @corporation do |f|
        .search-form
          .search-form__name-text
            = f.label :会社名を変更する, class: 'search-form__label'
          .search-form__name-area
            = f.text_field :name, class: 'search-form__name-area__box', id: 'corporation_name'
          .search-form__name-area__error
        = render partial: 'form', locals: { corporation: @corporation }
