.header
  .header__text
    =link_to root_path do
      WORKER
  = link_to corporations_path do
    <i class="fas fa-arrow-left"></i>
  = link_to edit_user_path(current_user) do
    <i class="fas fa-cog"></i>
  = link_to destroy_user_session_path, method: :delete do
    <i class="fas fa-sign-out-alt"></i>
.main
  .index_header
    %ul 
      %li.list_index
        = @corporation.name
      %li.list_new
        = link_to new_corporation_project_path(@corporation.id) do
          新規登録
  %ul.tab-group
    %li.link_tab
      = link_to corporation_projects_path(@corporation.id) do
        案件一覧
    %li.link_tab.is-active メンバー追加
  .panel-group
    .panel
    .panel.is-show 
      = render partial: 'form', locals: { corporation: @corporation }
