.header
  .header__text
    =link_to root_path do
      WORKER
    = link_to root_path do
      <i class="fas fa-arrow-left"></i>
.main
  = form_for @corporation do |f|
    .search-form
      .search-form__name-text
        = f.label :会社名, class: 'search-form__label'
      .search-form__name-area
        = f.text_field :name, class: 'search-form__name-area__box'
    = render partial: 'form', locals: { corporation: @corporation }
