.header
  .header__text
    =link_to root_path do
      WORKER
  = link_to :back do
    <i class="fas fa-arrow-left"></i>
.main
  .account-page
    .account-page__inner.clearfix
      .account-page__inner--left.account-page__header
        %h5 アカウントの編集
      .account-page__inner--right.user-form
        = form_for(current_user) do |f|
          .field
            .field-label
              = f.label :名前
            .field-input
              = f.text_field :name, autofocus: true, class: 'field-input__text'
          .field
            .field-label
              = f.label :メールアドレス
            .field-input
              = f.email_field :email ,class: 'field-input__text'
          .field
            .field-label
              = f.label :電話番号
            .field-input
              = f.text_field :Tell_number ,class: 'field-input__text'
          .field
            .field-label
              = f.label :自己紹介文
            .field-input
              = f.text_area :text ,class: 'field-input__text__area', rows: "10"
          .actions
            = f.submit "更新する", class: 'account-page__bottom'
      = link_to "戻る", :back, class: "account-page__bottom"

